.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background: #006 url(../../assets/header-bg.jpg) no-repeat;
    height: 100% auto;
    color: white;

  }
.important{
    color: #ff9e15;
}

.searchBox{
    color: white;
    
}


